.header {
width: 100%;
background-color: blue;
color: white;
font-size: 48px;
text-align: center;
padding: 30px;
}
body {
    margin: 0;
}
.cities button {
    display:block;
    width: 400px;
    background-color: lightgray;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 24px;
    text-align: center;
    padding: 5px;
}
.search-title {
    font-size: 36px;
}

.search-button {
    display:block;
    width: 400px;
    background-color: deepskyblue;
    color: white;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 24px;
    text-align: center;
    padding: 5px;
}

.left {
    padding: 10px;
}
input {
    width: 400px;
    font-size: 24px;
    height: 75px;
}

.stats{
border: 2px solid black;
}

.city-name{
font-size: 36px;
font-weight: 600;
}

.container{
    display: flex;
}

.right{
    width: 100%;
}

.day{
    color: white;
    background-color: darkcyan;
    width: 15%;
    margin-right: 3%;
    padding: 10px;
}
.day div{
    margin-bottom: 10px;
}

.day-parent {
    display: flex;
    font-size: 24px;
}